/* Estilos para resetear márgenes, rellenos y el modelo de caja */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para el elemento principal 'main' */
main {
    width: 100%; /* Ancho completo */
    height: 850px; /* Altura fija */
}

/* Estilos para el contenedor del logo */
.container-logo {
    position: relative; /* Posición relativa */
    width: 20%; /* Ancho fijo */
    height: 100%; /* Altura completa */
    top: 5%; /* Desplazamiento desde arriba */
    padding: 3rem; /* Relleno interno */
    float: left; /* Flotar a la izquierda */
}

/* Estilos para la imagen del logo */
.imgLogo {
    position: absolute; /* Posición absoluta */
    width: 120px; /* Ancho fijo */
    height: 48px; /* Altura fija */
    right: 0; /* Alineación desde la derecha */
}

/* Estilos para el contenedor de encriptación */
.container-encriptar {
    position: relative; /* Posición relativa */
    width: 40%; /* Ancho fijo */
    height: 850px; /* Altura fija */
    padding: 3rem; /* Relleno interno */
    float: left; /* Flotar a la izquierda */
}

/* Estilos para el contenedor de texto */
.container-texto {
    position: relative; /* Posición relativa */
    width: 100%; /* Ancho completo */
    height: 400px; /* Altura fija */
    top: 100px; /* Desplazamiento desde arriba */
}

/* Estilos para el marcador de posición del texto */
#texto::placeholder {
    color: #0A3871; /* Color del texto */
    font-weight: 400; /* Peso de la fuente */
    font-size: 32px; /* Tamaño de la fuente */
    text-align: start; /* Alineación del texto */
}

/* Estilos para el área de texto de encriptación */
.container-encriptar textarea {
    width: 100%; /* Ancho completo */
    color: black; /* Color del texto */
    text-align: left; /* Alineación del texto */
    font-size: 32px; /* Tamaño de la fuente */
    border: none; /* Sin borde */
}

/* Estilos para los párrafos dentro del contenedor de encriptación */
.container-encriptar p {
    color: black; /* Color del texto */
    position: absolute; /* Posición absoluta */
    top: 675px; /* Desplazamiento desde arriba */
    left: 80px; /* Desplazamiento desde la izquierda */
}

/* Estilos para el contenedor de los botones */
.container-encriptar #botones {
    position: relative; /* Posición relativa */
    width: 100%; /* Ancho completo */
    height: auto; /* Altura automática */
    display: flex; /* Flexbox */
    justify-content: center; /* Alineación del contenido */
    top: 250px; /* Desplazamiento desde arriba */
}

/* Estilos para los botones de encriptación */
.container-encriptar button {
    width: 350px; /* Ancho fijo */
    height: 55px; /* Altura fija */
    margin: 1px 10px; /* Margen exterior */
    background: #0A3871; /* Color de fondo */
    border-radius: 25px; /* Radio de borde */
    padding: 16px 24px; /* Relleno interno */
    border: none; /* Sin borde */
    color: #F3F3F3; /* Color del texto */
}


/* Estilos para el contenedor de desencriptación */
.container-desencriptar {
    position: relative; /* Posición relativa */
    width: 40%; /* Ancho fijo */
    height: 850px; /* Altura fija */
    padding: 3rem; /* Relleno interno */
    float: left; /* Flotar a la izquierda */
}

/* Estilos para el contenedor de información */
.container-info {
    display: block; /* Mostrar como bloque */
    position: relative; /* Posición relativa */
    width: 400px; /* Ancho fijo */
    height: 100%; /* Altura completa */
    border-radius: 24px; /* Radio de borde */
    box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.50); /* Sombra */
}

/* Estilos para el contenedor de imagen */
.container-img {
    position: relative; /* Posición relativa */
    width: 336px; /* Ancho fijo */
    height: 304px; /* Altura fija */
    align-items: center; /* Alineación de elementos */
    margin: 0 auto; /* Margen automático */
    top: 150px; /* Desplazamiento desde arriba */
}

/* Estilos para la imagen del muñeco */
.container-info #imgMuñeco {
    width: 336px; /* Ancho fijo */
    height: 304px; /* Altura fija */
}

/* Estilos para el contenedor de texto */
.container-text {
    position: absolute; /* Posición absoluta */
    display: flex; /* Flexbox */
    flex-direction: column; /* Dirección del contenido */
    width: 100%; /* Ancho completo */
    height: auto; /* Altura automática */
    top: 500px; /* Desplazamiento desde arriba */
    left: 0; /* Alineación desde la izquierda */
    float: left; /* Flotar a la izquierda */
}

/* Estilos para los párrafos dentro del contenedor de texto */
.container-text p {
    font-size: 25px; /* Tamaño de la fuente */
    position: relative; /* Posición relativa */
    color: #000000; /* Color del texto */
    text-align: center; /* Alineación del texto */
    justify-content: center; /* Justificación del contenido */
}

/* Estilos para el contenedor del segundo texto */
.container-texto2 {
    position: absolute; /* Posición absoluta */
    top: 1px; /* Desplazamiento desde arriba */
    background-color: white; /* Color de fondo */
    margin: 0 auto; /* Margen automático */
    width: 100%; /* Ancho completo */
    height: 80%; /* Altura completa */
    border-radius: 24px; /* Radio de borde */
}

/* Estilos para el contenedor del botón de copiar */
.container-botoncopiar {
    position: absolute; /* Posición relativa */
    width: 100%; /* Ancho completo */
    height: 20%; /* Altura automática */
    display: flex; /* Flexbox */
    justify-content: center; /* Alineación del contenido */
    bottom: 0; /* Alineación desde abajo */
}

/* Estilos para el botón de copiar */
.container-botoncopiar button {
    position: relative; /* Posición relativa */
    width: 350px; /* Ancho fijo */
    height: 55px; /* Altura fija */
    margin: 0px auto; /* Margen automático */
    border-radius: 25px; /* Radio de borde */
    padding: 16px 24px; /* Relleno interno */
    color: #000000; /* Color del texto */
    cursor: pointer; /* Cursor al pasar */
    background-color: transparent; /* Color de fondo transparente */
    border: 2px solid #0A3871; /* Borde sólido */
}

/* Estilos para el área de texto del contenedor 2 */
.container-texto2 textarea {
    position: absolute; /* Posición absoluta */
    margin: 20px 20px; /* Margen externo */
    color: #0A3871; /* Color del texto */
    font-weight: 400; /* Peso de la fuente */
    font-size: 32px; /* Tamaño de la fuente */
    width: 90%; /* Ancho del textarea */
    height: 80%; /* Altura del textarea */
    border: none; /* Sin borde */
}

/* Estilos para el pie de página */
footer {
    position: relative; /* Posición relativa */
    display: flex; /* Flexbox */
    width: 100%; /* Ancho completo */
    height: 100%; /* Altura completa */
}

/* Estilos para el contenedor del pie de página */
.container-footer {
    width: 100%; /* Ancho completo */
    height: 100%; /* Altura completa */
    background-color: #0A3871; /* Color de fondo */
    padding: 3% 0; /* Relleno interno */
    text-align: center; /* Alineación del texto */
    justify-content: center; /* Justificación del contenido */
    color: #F3F3F3; /* Color del texto */
    clear: both; /* Limpieza del flujo de elementos */
}


/* Estilos para pantallas de 768px a 1024px */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* Todos los elementos siguientes se ajustan al ancho completo y se muestran como bloques centrados */
    .container-logo,
    .container-encriptar,
    .container-texto,
    .container-texto textarea,
    .container-info,
    .container-botoncopiar {
        width: 100%; /* Ancho completo */
        display: block; /* Mostrar como bloque */
        justify-content: center; /* Centrar contenido horizontalmente */
        align-items: center; /* Centrar contenido verticalmente */
    }

    .container-logo{
        left: 0; /* Alinear desde la izquierda */
    }
    .container-desencriptar{
        width: 100%; /* Ancho completo */
        height: 50%; /* Altura del 50% del contenedor */
    }

    .container-img {
        display: none; /* Ocultar la imagen */
    }

    .container-text {
        flex-direction: column; /* Dirección de contenido en columna */
        width: 100%; /* Ancho completo */
        text-align: center; /* Alineación del texto */
        margin: 0 auto; /* Margen automático */
        top: 20px; /* Desplazamiento desde arriba */
        left: 0; /* Alineación desde la izquierda */
    }

    .container-text p {
        font-size: 23px; /* Tamaño de fuente */
    }
}

    /* Estilos para pantallas de menos de 767px */
@media only screen and (max-width: 767px) {
    /* Todos los elementos siguientes se ajustan al ancho completo y se muestran como bloques centrados */
    .container-logo,
    .container-encriptar,
    .container-texto,
    .container-texto textarea,
    .container-desencriptar,
    .container-info,
    .container-botoncopiar {
        width: 100%; /* Ancho completo */
        display: block; /* Mostrar como bloque */
        justify-content: center; /* Centrar contenido horizontalmente */
        align-items: center; /* Centrar contenido verticalmente */
    }
    .container-logo{
        left: 0; /* Alinear desde la izquierda */
    }

    .container-encriptar #botones {
        flex-direction: column; /* Dirección de contenido en columna */
        align-items: center; /* Alineación del contenido */
    }

    .container-encriptar button {
        width: 100%; /* Ancho completo */
        margin: 5px 0; /* Margen superior e inferior */
    }

    .container-desencriptar{
        width: 100%; /* Ancho completo */
        height: 50%; /* Altura del 50% del contenedor */
    }

    .container-img {
        display: none; /* Ocultar la imagen */
    }
    .container-text p {
        font-size: 20px; /* Tamaño de fuente */
    }

    .container-text {
        flex-direction: column; /* Dirección de contenido en columna */
        width: 100%; /* Ancho completo */
        text-align: center; /* Alineación del texto */
        margin: 0 auto; /* Margen automático */
        top: 20px; /* Desplazamiento desde arriba */
        left: 0; /* Alineación desde la izquierda */
        font-size: 20%; /* Tamaño de fuente */
    }
}

