* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    width: 100%;
    height: 850px;
}


.container-logo {
    position: relative;
    width: 300px;
    height: 48px;
    top: 50px;
    float: left;
    
}

.imgLogo {

    position: absolute;
    width: 120px;
    height: 48px;
    right: 0;
}



.container-encriptar {
    position: relative;
    width: 846px;
    height: 850px;
    padding: 3rem;
    float: left;
}

.container-texto {
    position: relative;
    width: 750px;
    height: 400px;
    top: 100px;
}



#texto::placeholder {
    color: #0A3871;
    font-weight: 400;
    font-size: 32px;
    text-align: start;
}

/* Estilos para el textarea de encriptación */
.container-encriptar textarea {
    color: black;
    text-align: left;
    font-size: 32px;
    border: none;
}

/* Estilos para los mensajes en la sección de encriptación */
.container-encriptar p {
    color: black;
    position: absolute;
    top: 675px;
    left: 80px;

}


.container-encriptar #botones {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    top: 250px;

}

.container-encriptar button {
    width: 350px;
    height: 70px;
    margin: 1px 10px;
    background: #0A3871;
    border-radius: 25px;
    padding: 16px 24px;
    border: none;
    color: #F3F3F3;

}


.container-desencriptar {
    position: relative;
    width: 500px;
    height: 850px;
    padding: 3rem;
    float: left;

}


.container-info {
    position: relative;
    display: block;
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.50);

}


.container-img {
    position: absolute;
    width: 336px;
    height: 304px;
    top: 100px;
    left: 30px;
    align-items: center;


}

.container-info #imgMuñeco {
    width: 336px;
    height: 304px;
    margin: 0 auto;
}

.container-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    top: 500px;
    left: 0;
    
}

.container-text p {
   
    font-size: 25px;
    position: relative;
    color: #000000;
    font-size: 25px;
    text-align: center;
    justify-content: center;

}

.container-texto2 {
    position: absolute;
    top: 1px;
    background-color: white;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.50);
    ;
}

.container-botoncopiar {
    
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    top: 650px;



}

.container-botoncopiar button {
    position: relative;
    width: 350px;
    height: 70px;
    margin: 0px auto;
    border-radius: 25px;
    padding: 16px 24px;
    color: #000000;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #0A3871;
    left: 10px;

}



.container-texto2 textarea {

    position: absolute;
    margin: 20px 20px;
    color: #0A3871;
    font-weight: 400;
    font-size: 32px;
    width: 90%;
    height: 80%;
    border: none;

}

footer {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

.container-footer {
    width: 100%;
    height: 100%;
    background-color: #0A3871;
    padding: 3% 0;
    text-align: center;
    justify-content: center;
    color: #F3F3F3;
    clear: both;
}



@media only screen and (max-width: 768px) {

    .container-logo,
    .container-encriptar,
    .container-texto,
    .container-texto textarea,
    .container-info,
    .container-botoncopiar {
        width: 100%;
        display: block;
        justify-content: center;
        align-items: center;

    }

    .imgLogo{
        
        left: 0;
    }
    .container-desencriptar{
        width: 100%;
        height: 30%;
    }

    .container-img {
        display: none;
    }

    .container-text {
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        top: 0;
        left: 0;
    }
  

}

/* Media query para dispositivos móviles */
@media only screen and (max-width: 480px) {

    .container-logo,
    .container-encriptar,
    .container-texto,
    .container-texto textarea,
    .container-desencriptar,
    .container-info,
    .container-botoncopiar {
        width: 100%;
        display: block;
        justify-content: center;
        align-items: center;

    }

    .container-encriptar #botones {
        flex-direction: column;
        align-items: center;

    }

    .container-encriptar button {
        width: 100%;
        margin: 5px 0;
    }


    .container-img {
        display: none;
    }

     .container-text {
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        top: 0;
        left: 0;
        font-size: 20%;
    }

    
}